:root {
    --dark: rgba(0, 0, 0, 0.9);
    --gold: rgba(218, 165, 32, 0.8)
}
* {
    box-sizing: border-box;
    margin: 0;
}
/* Header content */
header {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5rem;
    position: fixed;
    width: 100%;
}
.logo {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    margin-bottom: 1rem;
}
.search-bar {
    position: relative;
    display: flex;
    flex-direction: column;
}
.search-bar--txt {
    border: none;
    display: block;
    padding-left: 20px;
    width: 100%;
}
.search-bar--btn {
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
}
/* Main content */
.main--top--content {
    background-image: linear-gradient(to right, yellow, goldenrod);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
.main--mid--content {
    display: flex;
    justify-content: space-around;
    height: 7rem;
    margin-top: 1rem;
}
.img__container {
    width: 30%;
    height: 100%;
}
img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}
.main--low--content {
    margin: 1rem; 
    text-align: center;
}
.img__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h3, h4 {
    color: var(--gold);
}
.img__container__low {
    width: 45%;
    height: 45%;
    margin-top: 1rem;
}
.deco {
    height: 1rem;
    background-color: var(--gold);
}
/* Footer content */
footer {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}
.footer--content--block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.footer--btn {
    display: block;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    width: 100%;
}
.footer--btn:hover {
    color: var(--gold);
}
h4 {
    margin-bottom: 1rem;
}